.sf-menu {position:absolute; top:0; left:0; z-index:3;}
.sf-menu > li {float:left; padding-right:1px; position:relative; background:url(../images/menu-spacer.png) 100% 0 repeat-y;}
.sf-menu > li > a {
	display:block;
	font-size:15px;
	line-height:20px;
	font-weight:700;
	color:#fff;
	padding:11px 20px 12px 19px;
	text-transform:uppercase;
	text-decoration:none; 
	background:none;
}
.sf-menu li a:hover, .sf-menu li.sfHover a, .sf-menu li a.current {background:url(../images/menu-tail.gif) 0 0 repeat-y #4d5568;}


.sf-menu ul {
	display:none;
	position:absolute;
	width:226px;
	padding:0;
	background:#fff;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {left:0; top:43px; z-index:99;}
.sf-menu ul li {width:100%; position:relative;}
.sf-menu li:hover li a, .sf-menu li.sfHover li a {
	display:block;
	font-size:10px;
	line-height:18px;
	color:#2e2e2e;
	font-weight:400;
	text-decoration:none;
	text-transform:uppercase;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	padding:4px 0 5px 17px;
	font-family:'Open Sans', sans-serif;
	background:url(../images/submenu-marker.png) 11px -70px no-repeat #f1f1f2;
}
.sf-menu li li a:hover, .sf-menu li li.sfHover a {color:#e5e5e5; border-right:1px solid #282a33; border-left:1px solid #282a33; border-bottom:1px solid #282a33; background:url(../images/submenu-marker.png) 11px 14px no-repeat #282a33;}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {outline:0;}